
.pagetitle {
	color: #072643;
	font-family: 'Helvetica', serif;
	font-size: 30px;
	padding-top: 25px;
	text-align: center;
	margin-bottom: 0px;
}


.pagetext {
	color: #072643;
	font-family: 'Helvetica', serif;
	font-size: 20px;
	padding-left: 35px;
	padding-right: 35px;
	margin-top: 0px;
	text-align: center;
}


.rotated {
	-webkit-transform: rotate(-90deg);
	display: inline-block;
	vertical-align : middle;
	margin-top: -600px;
	margin-right: -50px;
  }